/* Encabezado */
.header{
	width:100%;
	height:370px;	
}
.subheader{
	top:0;
	left:0;
	width:100%;
	height:500px;
	z-index:-1;
	position:absolute;
	background-repeat:no-repeat;
	background-attachment: cover;
	background-position: scroll;
	background-size:100%;
}

/* Logo */
.link-logo{
	width:20%;
	margin-left:70px;
	display:inline-block;
}
.logo{
	width:250px;
	height:auto;
}

/* Menú */
nav{
	width: 90%;
	margin:.7rem auto;
	float:right;
	font-size:13px;
	z-index: 1;
	display:flex;
}
nav ul{
	padding:0;
	list-style-type:none;
}
nav ul li{
	width:170px;
	text-align: center;
	line-height: auto;
	display:inline-block;
	position:relative;
}
nav ul li:hover{	
	font-weight: 800;
	background-color: rgba(0,0,0,.5);
}
nav ul li a{
	color: #000;
	display:block;
	padding: 0 2.5rem;
	text-decoration: none;
	transition: .4s;
}
nav ul li a:hover{
	color: #FFF;
}
nav ul li .children{
	width:150%;
	font-weight: 200;
	display:none;
	position: absolute;
	z-index:1;
}
nav ul li:hover .children{
	display:block;
}
nav ul li .children li{
	display:block;
	overflow:hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
nav ul li .children li a{
	display:block;
}