@import url('header.css');
@import url('footer.css');
@import url('principal.css');

/* Sección Inicio - Informes y Objetivos */
#inicio{
	height: 600px;
	background-color: rgba(255,255,255,1);
	position: relative;
}
#fila-section{
	clear:left;
}
.title{
	vertical-align: middle;
}
.title>h2{
	color:#0B4C5F;
	padding:15px;
	margin-bottom:10px;
	text-align: center;
}
.panel1, .panel2{
	width: 450px;
	height: 550px;
	clear:center;
	padding:20px;
	margin-top:-30px;
	display:inline-block; 
	background-color: #FFBF00;
	-webkit-box-shadow: 6px 9px 23px -2px rgba(0,0,0,0.32);
	-moz-box-shadow: 6px 9px 23px -2px rgba(0,0,0,0.32);
	box-shadow: 6px 9px 23px -2px rgba(0,0,0,0.32);
}
.panel1{margin-left:50px;}
.panel2{float:right; margin-right:50px;}
.body-content{
	width: 90%;
	height: 460px;
	padding:10px;
	margin:auto;
	background-color:#FFF;
}

p, td>li{text-align: justify;}

.info, .objective{
	width: 300px;
	height: auto;
	margin:auto;
}

/* Sección Inicio - Temas del Curso */
#tematica{
	top:0;
	left:0;
	width:100%;
	height:100vh;
	margin:auto;
	background-color:rgba(30,30,30,.1);
}

table{width: 93%; margin:auto; border-collapse: separate;}
thead th{color:#FFF; background-color:#0B0B61;}
tr{width:40%; height:10px; vertical-align:middle;}
.num{width: 10%; text-align:center; background-color:#0B0B61;}
.num>span{color:yellow; font-weight: 700;}
.fondo{padding:10px;}
.clear{width:50px;}
h1{padding:10px; text-align:center; margin:auto;}
h3{color:#08298A;}

span{color:#6E6E6E; opacity: 0.5; font-size:80px; font-family: Helvetica;}
td span{margin:auto;}
.img1, .img2, .img3, .img4{width:200px; height:auto; float:left;}

/* Sección Inicio - Informes */
#informes{height:55vh;}
.informacion{width:40%; border:2px solid #CCC;}
h1{padding:10px; margin:auto; font-size:46px; text-align:center;}
.img5{width:90px;}

/*
.col-{display:inline-block;}
.col-1{width:114px;}
.col-2{width:228px;}
.col-3{width:341px;}
.col-4{width:456px;}
.col-5{width:570px;}

.col-7{width:796px;}
.col-8{width:910px;}
.col-9{width:1024px;}
.col-10{width:1120px;}
.col-11{width:1252px;}
.col-12{width:1366px;}

 Medium devices (tablets, 768px and up)
@media (min-width: 768px){
}

/*
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }